experiment_results_a30/
experiment_results_a100/
block/cl_manifest_*.xml
block/config/hosts
block/config/hosts_backup
block/config/a100_hosts
cloudlab_reservation_request.md
sync_a30_data.sh
/tmp/
*.log
